html
    head
        title= title
    body
        h2= message
        a(class='button' href='login') Login
        each pubArticle in pubArticles
            p
            a(class='button' href='readNews' '#{pubArticle}') #{pubArticle}
        each article in articles
            p #{article}
